<b-container id="information">
    <h4><span>Asociate</span></h4>
    <p>Solo <strong>$150</strong> por mes</p>
    <b-row>
        <b-col md="6">
            <p>En <strong>amoemra</strong> podés disfrutar de la tranquilidad de contar con servicios de asistencia médica, beneficios exclusivos en una amplia variedad de rubros y una tienda online con precios increíbles.</p>
        </b-col>
        <b-col md="6">
            <p>Queremos generar un espacio de soluciones y beneficios para nuestros afiliados, basándonos en la asistencia solidaria, la excelencia y la cercanía con sus necesidades.</p>
        </b-col>
        <!-- <a href="#form" class="contact-button" v-smooth-scroll="{ duration: 2500, offset: -120 }">Contactate</a> -->
    </b-row>
</b-container>
