@import '../../sass/_global.scss';

#information {

    p {
        font-family: $MontserratL;
        font-size: 6vw;
        text-align: center;
        color: $blue;
        text-transform: uppercase;
        margin-top: 1vw;

        strong {
        font-family: $MontserratSB;
        }
    }

    .row {
        p {
            font-family: $QuicksandR;
            color: $grey;
            font-size: 1rem;
            text-transform: none;
            text-align: left;
        }
    }

    .contact-button {
        text-transform: uppercase;
        font-family: $QuicksandB;
        text-decoration: none;
        margin: 0 auto;
        color: $blue;
        border: 2px solid $blue;
        padding: .5rem 1.5rem;
        transition: all .3s ease;

        &:hover {
            border-color: $orange-border;
            background-color: $orange;
            color: $white;
        }
    }


    @media (min-width: $md) {
        p {
            font-size: 3.06rem;
            margin-top: 1.2rem;
        }
    }
}
