$font-dir: "../assets/fonts/";

@font-face {
    font-family: 'MontserratLight';
    src: url('#{$font-dir}MontserratLight.eot');
    src: url('#{$font-dir}MontserratLight.eot') format('embedded-opentype'),
         url('#{$font-dir}MontserratLight.woff2') format('woff2'),
         url('#{$font-dir}MontserratLight.woff') format('woff'),
         url('#{$font-dir}MontserratLight.ttf') format('truetype'),
         url('#{$font-dir}MontserratLight.svg#MontserratLight') format('svg');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('#{$font-dir}MontserratRegular.eot');
    src: url('#{$font-dir}MontserratRegular.eot') format('embedded-opentype'),
         url('#{$font-dir}MontserratRegular.woff2') format('woff2'),
         url('#{$font-dir}MontserratRegular.woff') format('woff'),
         url('#{$font-dir}MontserratRegular.ttf') format('truetype'),
         url('#{$font-dir}MontserratRegular.svg#MontserratRegular') format('svg');
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url('#{$font-dir}MontserratSemiBold.eot');
    src: url('#{$font-dir}MontserratSemiBold.eot') format('embedded-opentype'),
         url('#{$font-dir}MontserratSemiBold.woff2') format('woff2'),
         url('#{$font-dir}MontserratSemiBold.woff') format('woff'),
         url('#{$font-dir}MontserratSemiBold.ttf') format('truetype'),
         url('#{$font-dir}MontserratSemiBold.svg#MontserratSemiBold') format('svg');
}

@font-face {
  font-family: 'MontserratExtraBold';
  src: url('#{$font-dir}MontserratExtraBold.eot');
  src: url('#{$font-dir}MontserratExtraBold.eot') format('embedded-opentype'),
       url('#{$font-dir}MontserratExtraBold.woff2') format('woff2'),
       url('#{$font-dir}MontserratExtraBold.woff') format('woff'),
       url('#{$font-dir}MontserratExtraBold.ttf') format('truetype'),
       url('#{$font-dir}MontserratExtraBold.svg#MontserratExtraBold') format('svg');
}


@font-face {
    font-family: 'QuicksandBold';
    src: url('#{$font-dir}QuicksandBold.eot');
    src: url('#{$font-dir}QuicksandBold.eot') format('embedded-opentype'),
         url('#{$font-dir}QuicksandBold.woff2') format('woff2'),
         url('#{$font-dir}QuicksandBold.woff') format('woff'),
         url('#{$font-dir}QuicksandBold.ttf') format('truetype'),
         url('#{$font-dir}QuicksandBold.svg#QuicksandBold') format('svg');
}

@font-face {
  font-family: 'QuicksandMedium';
  src: url('#{$font-dir}QuicksandMedium.eot');
  src: url('#{$font-dir}QuicksandMedium.eot') format('embedded-opentype'),
       url('#{$font-dir}QuicksandMedium.woff2') format('woff2'),
       url('#{$font-dir}QuicksandMedium.woff') format('woff'),
       url('#{$font-dir}QuicksandMedium.ttf') format('truetype'),
       url('#{$font-dir}QuicksandMedium.svg#QuicksandMedium') format('svg');
}

@font-face {
    font-family: 'QuicksandRegular';
    src: url('#{$font-dir}QuicksandRegular.eot');
    src: url('#{$font-dir}QuicksandRegular.eot') format('embedded-opentype'),
         url('#{$font-dir}QuicksandRegular.woff2') format('woff2'),
         url('#{$font-dir}QuicksandRegular.woff') format('woff'),
         url('#{$font-dir}QuicksandRegular.ttf') format('truetype'),
         url('#{$font-dir}QuicksandRegular.svg#QuicksandRegular') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-dir}icomoon.eot?noqaqh');
  src:  url('#{$font-dir}icomoon.eot?noqaqh#iefix') format('embedded-opentype'),
    url('#{$font-dir}icomoon.ttf?noqaqh') format('truetype'),
    url('#{$font-dir}icomoon.woff?noqaqh') format('woff'),
    url('#{$font-dir}icomoon.svg?noqaqh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e902";
  color: #2b72b9;
}
.icon-bus:before {
  content: "\e900";
  color: #2d72ba;
}
.icon-calendar:before {
  content: "\e901";
  color: #2b72b9;
}
.icon-cellphone .path1:before {
  content: "\e919";
  color: rgb(43, 114, 185);
}
.icon-cellphone .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(43, 114, 185);
}
.icon-cellphone .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(43, 114, 185);
}
.icon-cellphone .path4:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(43, 114, 185);
}
.icon-cellphone .path5:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(43, 114, 185);
}
.icon-cellphone .path6:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(43, 114, 185);
}
.icon-cellphone .path7:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cross:before {
  content: "\e91a";
  color: #2b72b9;
}
.icon-facebook:before {
  content: "\e91b";
  color: #fff;
}
.icon-food:before {
  content: "\e91c";
  color: #2b72b9;
}
.icon-google-play:before {
  content: "\e91d";
  color: #fff;
}
.icon-holiday .path1:before {
  content: "\e91e";
  color: rgb(43, 114, 185);
}
.icon-holiday .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(43, 114, 185);
}
.icon-holiday .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(43, 114, 185);
}
.icon-holiday .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(34, 114, 185);
}
.icon-holiday .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(34, 114, 185);
}
.icon-holiday .path6:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(34, 114, 185);
}
.icon-kid:before {
  content: "\e924";
  color: #2b72b9;
}
.icon-location:before {
  content: "\e925";
  color: #2b72b9;
}
.icon-phone:before {
  content: "\e926";
  color: #2b72b9;
}
.icon-plus:before {
  content: "\e927";
  color: #2b72b9;
}
.icon-skin:before {
  content: "\e928";
  color: #2b72b9;
}
.icon-subway:before {
  content: "\e929";
  color: #2b72b9;
}
.icon-tooth:before {
  content: "\e92a";
  color: #2b72b9;
}
.icon-train:before {
  content: "\e92b";
  color: #2b72b9;
}
.icon-workout:before {
  content: "\e92c";
  color: #2b72b9;
}
