//Colors
$white: #ffffff;
$blue: #0073CF;
$light-blue: rgba(194, 222, 234, .4);
$light-background: rgba(194, 222, 234, .1);
$light-blue-border: rgb(194, 222, 234);
$grey: #707070;
$light-grey: #9F9F9F;
$orange: #FF8F70;
$orange-border: #F57B59;
$footer-background: #C2DEEA;
$indicator-color: #AACAE6;
$modal-background: #e1eef4;

//Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;

//Fonts
$MontserratL: 'MontserratLight';
$MontserratR: 'MontserratRegular';
$MontserratSB: 'MontserratSemiBold';
$MontserratEB: 'MontserratExtraBold';
$QuicksandR: 'QuicksandRegular';
$QuicksandM: 'QuicksandMedium';
$QuicksandB: 'QuicksandBold';

//Global styles

body {
    -webkit-overflow-scrolling: touch;
}

#information,
#benefits,
#extras,
#experiences,
#form,
#map {
    margin-top: 8vw;

    @media (min-width: $md) {
        margin-top: 3rem;
    }

    h4 {
        font-family: $MontserratSB;
        text-transform: uppercase;
        color: $blue;
        text-align: center;
        font-size: 4.5vw;
        border-bottom: 1px solid $light-blue-border;
        line-height: 0.1em;
        width: 100%;
        background-color: $white;

        span {
            text-align: center;
            padding:0 10px;
            background-color: $white;
        }
    }

    @media (min-width: $md) {
        h4 {
            font-size: 2.5rem;
        }
    }

    .swiper-pagination-bullet {
        border-radius: 0;
        background-color: black;
        width: 38px;
        height: 2px;
    }
    .swiper-pagination-bullet-active {
        border-radius: 0;
        background-color: $orange;
        height: 2px;
    }

    .modal-lg {
        max-width: 667px;
    }

    .modal-content {
        border-radius: 0;
        background-color: $modal-background;
        padding: .5rem .8rem;

        .modal-header {
            padding-bottom: 0;
        }

        .close {
            color: $white;
            background-color: $blue;
            opacity: 1;
            margin: 0;
            position: absolute;
            right: 0;
            top: 0;
            padding: .2vw 1.8vw 1vw;
            font-size: 1.5rem;
            font-weight: 200;
            text-shadow: 0;
        }

        .modal-title {
            font-family: $MontserratSB;
            text-transform: uppercase;
            color: $blue;
            font-size: 7vw;
        }

        p {
            text-align: left;
            color: $grey;
            font-family: $QuicksandR;
            font-size: 4.1vw;
            text-align: left;

            strong {
                font-family: $QuicksandM;
            }

            a {
                color: $orange;
                transition: all .3s ease;
                &:hover {
                    color: $blue;
                }
            }
        }
    }

    @media (min-width: $md) {
        .swiper-pagination-bullet {
            width: 78px;
        }

        .modal-lg {
            max-width: 800px;
        }
        
        .modal-content {
            padding: 1rem 2rem;
    
            .close {
                padding: 2px 9px 6px;
                font-size: 2rem;
            }
    
            .modal-title {
                font-size: 2.3rem;
            }
    
            p {
                font-size: 1.2rem;
            }
        }
    }
}
