@import '../../sass/_global.scss';
@import "~vue-material/dist/theme/engine";
@import 'vue-material/dist/components/MdField/index.css';
@import 'vue-material/dist/components/MdButton/index.css';

@include md-register-theme("default", (
    primary: #ffffff, // The primary color of your application
    accent: $orange, // The accent or secondary color
    theme: dark
));

@import "~vue-material/dist/theme/all";

#form {
    background-color: $blue;
    margin-top: 5rem;
    padding-bottom: 7vw;

    h4 {
        border-bottom: none;
        background-color: $blue;
        span {
            padding: 1rem 2rem;
            border: 4px solid $blue;
        }
    }

    .form-section {
        font-family: $QuicksandM;
        color: $white;
        font-size: 1.06rem;
        margin-top: 12vw;

        p {
            font-family: $QuicksandR;
            margin-bottom: 0;
            font-size: 3.5vw;
            text-align: center;
        }

        .send-button {
            text-transform: capitalize;
            font-family: $MontserratL;
            font-size: 1rem;
            border: 2px solid $white;
            background-color: $blue;
            padding: 1.5vw 9vw;
            color: $white;
            letter-spacing: 1px;
            transition: all .3s ease;
            float: right;
            margin-top: 1rem;
        }

        .error {
            color: $orange;
            font-family: $QuicksandR;
        }
    }

    @media (min-width: $md) {
        margin-top: 6rem;
        padding-bottom: 3rem;

        h4 {
            span {
                padding: 1.25rem 5.6rem;
            }
        }

        .form-section {
            margin-top: 4.1rem;

            p {
                font-size: 1.1rem;
            }

            .send-button {
                font-size: 1rem;
                padding: .5rem 3.5rem;
                transition: all .3s ease;
                cursor: pointer;
    
                &:hover {
                    color: $orange;
                    border-color: $orange;
                }
            }
        }
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $blue inset;
    }
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }

    #output {
        color: $orange;
    }
}
