<template src="./Form.html"></template>

<script>
import { Validator } from 'vee-validate'
import axios from 'axios'

const dictionary = {
  custom: {
    name: {
      required: () => 'Por favor completá con tu nombre.'
    },
    surname: {
      required: () => 'Por favor completá con tu apellido.'
    },
    identity: {
      required: () => 'Por favor completá con tu dni.'
    },
    email: {
      required: () => 'Por favor completá con tu email.'
    },
    phone: {
      required: () => 'Por favor completá con tu teléfono.'
    }
  }
}

Validator.localize('en', dictionary)

export default {
  name: 'contact-form',
  data: () => ({
    showSend: true,
    name: '',
    surname: '',
    identity: '',
    email: '',
    phone: ''
  }),
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        this.showSend = false
        // const form = document.getElementById('form')
        const resultElement = document.getElementById('output')
        const formData = new FormData()

        formData.append('name', this.name)
        formData.append('surname', this.surname)
        formData.append('identity', this.identity)
        formData.append('email', this.email)
        formData.append('phone', this.phone)

        if (result) {
          // eslint-disable-next-line
          return axios.post('form/save-form.php', formData, {
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
            }
          })
            .then((response) => {
              resultElement.innerHTML = 'El formulario se ha enviado correctamente'
            })
            .catch((error) => {
              this.showSend = true
              if (error.response) {
                console.log(error.response.data)
                console.log(error.response.status)
                console.log(error.response.headers)
                resultElement.innerHTML = 'Se produjo un error. Intente nuevamente.'
              }
            })
        } else {
          this.showSend = true
        }
      })
    }

  }
}

</script>

<style lang="scss" scoped src="./Form.scss"></style>
