<div id="form">
    <b-container>
        <h4>
            <span>Sumate a Amoemra</span>
        </h4>


        <div class="form-section">
            <p>Completá estos datos y nos comunicaremos con vos para darte más información.</p>
            <form @submit.prevent="validateBeforeSubmit" id="form">
                <b-row>
                    <b-col md="6">
                        <md-field>
                            <label for="name">nombre</label>
                            <md-input v-validate="'required'" type="text" name="name" id="name" v-model="name" :class="{'input': true, 'is-danger': errors.has('name') }"></md-input>
                            <span v-show="errors.has('name')" class="error">{{ errors.first('name') }}</span>
                        </md-field>
                    </b-col>
                    <b-col md="6">
                        <md-field>
                            <label for="surname">apellido</label>
                            <md-input v-validate="'required'" type="text" name="surname" id="surname" v-model="surname"></md-input>
                            <span v-show="errors.has('surname')" class="error">{{ errors.first('surname') }}</span>
                        </md-field>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="6">
                        <md-field>
                            <label for="identity">dni</label>
                            <md-input v-validate="'required'" type="number" name="identity" id="identity"  v-model="identity"></md-input>
                            <span v-show="errors.has('identity')" class="error">{{ errors.first('identity') }}</span>
                        </md-field>
                    </b-col>
                    <b-col md="6">
                        <md-field>
                                <label for="email">email</label>
                                <md-input v-validate="'required'" type="email" name="email" id="email" v-model="email"></md-input>
                                <span v-show="errors.has('email')" class="error">{{ errors.first('email') }}</span>
                        </md-field>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="6">
                        <md-field>
                            <label for="phone">teléfono</label>
                            <md-input v-validate="'required'" type="number" name="phone" id="phone" v-model="phone"></md-input>
                            <span v-show="errors.has('phone')" class="error">{{ errors.first('phone') }}</span>
                        </md-field>
                    </b-col>
                    <b-col md="6">
                        <button type="submit" v-if="showSend" class="send-button">Enviar</button>
                        <div id="output"></div>
                    </b-col>
                </b-row>
            </form>
        </div>
    </b-container>
</div>
