<template src="./Experiences.html"></template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'experiences',
  data () {
    return {
      persons: [
        {
          image: require('../../assets/experience_1.jpg'),
          name: 'Fernanda Garófalo',
          date: '7/2015',
          opinion: 'Hace un tiempo había problemas con las llamadas para conseguir turnos, pero ahora eso mejoró por completo, te atienden rápido y con la mejor predisposición.'
        },
        {
          image: require('../../assets/experience_2.jpg'),
          name: 'Eduardo Alul',
          date: '5/2015',
          opinion: 'Además de poder consultar al cardiólogo, en Amoemra tienen equipos de diagnóstico que me permiten tener controlado mi nivel de colesterol y triglicéridos.'
        },
        {
          image: require('../../assets/experience_3.jpg'),
          name: 'Dana Estévez',
          date: '7/2016',
          opinion: 'Los martes, antes de ir al trabajo, no me pierdo las clases de Yoga en Amoemra. Soy socia por una cuota muy baja y además tengo muchas prestaciones más, como un par de lentes gratis por año.'
        },
        {
          image: require('../../assets/experience_4.jpg'),
          name: 'Eduardo Ibarra',
          date: '1/2015',
          opinion: 'Además de todas las prestaciones médicas, es muy bueno poder pedir turnos desde la aplicación. Lo hago en el teléfono mientras viajo en colectivo.'
        },
        {
          image: require('../../assets/experience_5.jpg'),
          name: 'Carlos Laurito',
          date: '6/2015',
          opinion: 'El servicio de odontología es de primer nivel, con aparatología digna de los mejores centros médicos. Yo lo uso no solo para mí, también para toda mi familia.'
        }
      ],
      swiperOption: {
        slidesPerView: 2.5,
        spaceBetween: 0,
        centeredSlides: true,
        loop: true,
        autoplay: {
          delay: 7200,
          disableOnInteraction: false
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          1750: {
            slidesPerView: 2.2,
            spaceBetween: 10,
            centeredSlides: true
          },
          1500: {
            slidesPerView: 2,
            spaceBetween: 10,
            centeredSlides: true
          },
          992: {
            slidesPerView: 1.8,
            spaceBetween: 0,
            centeredSlides: true
          },
          767: {
            slidesPerView: 1,
            spaceBetween: 0,
            centeredSlides: true
          }
        }
      }
    }
  },
  computed: {
    swiper () {
      return this.$refs.mySwiper.swiper
    }
  },
  components: {
    swiper,
    swiperSlide
  }
}
</script>

<style lang="scss" scoped src="./Experiences.scss"></style>
