@import '../../sass/_global.scss';

#experiences {
    margin-top: 12vw;
    margin-bottom: 10vw;

    h4 {
        font-size: 5.5vw;
    }

    .case {
        padding: 5vw 9vw;
        box-shadow: 0px 0px 6px 0px $light-grey;
        margin: 0 15px;
        margin-top: 3rem;
        margin-bottom: 3rem;

        .top {
            display: flex;
            align-items: center;

            .name {
                padding-left: .8rem;

                h6 {
                    font-family: $MontserratR;
                    font-size: 5vw;
                    color: $blue;
                }
                p {
                    font-family: $MontserratL;
                    font-size: 4vw;
                    color: $light-grey;
                    margin: 0;
                }
            }
        }
        p {
            font-family: $QuicksandR;
            color: $light-grey;
            font-size: 4vw;
            margin-top: 3vw;
            margin-bottom: 0;
        }
    }
    @media (min-width: $md) {
        margin-top: 8rem;

        h4 {
            font-size: 3.06rem;
            margin-bottom: 2rem;
        }

        .case {
            height: 228px;
            padding: 1.3rem 2.5rem;
            transition: all .3s ease;
            margin: {
                top: 3rem;
                bottom: 3rem;
            }

            .top {
                display: flex;
                align-items: flex-end;

                .name {
                    padding-left: .8rem;

                    h6 {
                        font-size: 1.3rem;
                    }
                    p {
                        font-size: .9rem;
                    }
                }
            }

            p {
                font-size: .9rem;
                margin-top: 1.2rem;
            }
        }

        .swiper-div {
            position: relative;
            z-index: 1;

            &::before {
                content: '';
                height: 100%;
                width: 300px;
                position: absolute;
                left: 0;
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                z-index: 2;
                top: 0;
                
            }
            &::after {
                content: '';
                height: 100%;
                width: 300px;
                position: absolute;
                right: 0;
                background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                z-index: 2;
                top: 0;
            }
        }
    }

    @media (min-width: $lg) {
        margin-bottom: 8rem;

        h4 {
            margin-bottom: 2.5rem;
        }
        .case {
            width: 500px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            padding: 1.3rem 3rem;
            margin: {
                top: 3rem;
                bottom: 3rem;
            }

            .top {
                display: flex;
                align-items: flex-end;

                .name {
                    padding-left: .8rem;

                    h6 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 1.1rem;
                    }
                }
            }

            p {
                font-size: 1rem;
                margin-top: 1.6rem;
            }
        }
    }

    @media (min-width: $xl) {
        .case {
            width: 45vw;
            height: 18vw;
            padding: 1.3rem 3.5rem;
        }
    }

    @media (min-width: $xxl) {
        .case {
            width: 680px;
            height: 235px;
        }
    }
}
