<div id="experiences">

    <b-container>
        <h4><span>Experiencias</span></h4>
    </b-container>
    <swiper ref="mySwiper" :options="swiperOption" class="swiper-div">
        <swiper-slide v-for="person in persons" :data="person" :key="person.image">
            <div class="case">
                <div class="top">
                    <img :src="person.image" alt="person.name">
                    <div class="name">
                        <h6>{{person.name}}</h6>
                        <p>Afiliado desde {{person.date}}</p>
                    </div>
                </div>
                <p>{{person.opinion}}</p>
            </div>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
</div>
