<div id="extras">
    <b-container>
        <div class="card" v-for="extra in extras" @click="showModal(extra.index)">
            <i :class="extra.icon"></i>
            <div class="card-content">
                <h6>{{extra.title}}</h6>
                <a href="javascript:void(0)" @click="showModal(extra.index)"><i class="icon-plus"></i></a>
                <p>{{extra.text}}</p>
            </div>
        </div>
    </b-container>
    <b-modal ref="modalExtras" :title="this.modalShow.title" size="lg" centered hide-footer>
        <div class="d-block text-center">
            <p v-html="this.modalShow.modalText"></p>
            <p><strong>Consultanos personalmente en recepción, Jujuy 477, o por teléfono al 0810-333-0643.</strong></p>
        </div>
    </b-modal>
</div>
