@import '../../sass/_global.scss';

#extras {
    // background-color: $light-background;
    .card {
        flex-direction: row;
        padding: 1.1rem 1.3rem;
        border: none;
        border-top: 1px solid $light-blue;
        border-bottom: 1px solid $light-blue;
        border-radius: 0;
        background-color: transparent;
        width: 100%;
        margin-bottom: 4vw;
        transition: all .3s ease;

        i {
            font-size: 7vw;
            // transition: all .3s ease;
        }

        .card-content {
            width: 100%;
            position: relative;
            padding-left: 1.1rem;

            h6 {
                font-family: $MontserratSB;
                text-transform: uppercase;
                color: $blue;
                font-size: 4vw;
                transition: all .3s ease;
            }
            a {
                position: absolute;
                top: 0;
                right: 0;
                text-decoration: none;
                i {
                    font-size: 5vw;
                    &::before {
                        transition: all .3s ease;
                    }
                    &:hover::before {
                        color: $orange;
                    }
                }
            }
            p {
                color: $grey;
                font-family: $QuicksandR;
                font-size: 3.2vw;
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: $md) {
        .card {
            width: calc((100% /2) - 9px);
            margin-bottom: 1.3rem;
            min-height: 115px;
            cursor: pointer;

            &:nth-child(odd){
                float: left;
                margin-right: 9px;
            }
            i {
                font-size: 3.4rem;
                &::before {
                    transition: all .3s ease;
                }
            }

            &:hover {
                border-color: $orange;

                h6{
                    color: $orange;
                }

                i {
                    &::before {
                        color: $orange;
                    }
                }
            }

            .card-content {
                h6 {
                    font-size: 1.1rem;
                }
                a {
                    i {
                        font-size: 1.12rem;
                    }
                }
                p {
                    font-size: .7rem;
                }
            }
        }
    }

    @media (min-width: $lg) {
        .card {
            min-height: 130px;
            i {
                font-size: 3.1rem;
            }
            .card-content {
                h6 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: .8rem;
                    width: 70%;
                }
            }
        }
    }

    @media (min-width: $xl) {
        .card {
            min-height: 111px;
        }
    }
}
