<template src="./Extras.html"></template>

<script>
export default {
  name: 'extras',
  data () {
    return {
      modalShow: false,
      extras: [
        {
          icon: 'icon-phone',
          title: 'Turnos',
          text: 'Solicitá turnos de consultorios externos desde tu teléfono.',
          modalText: 'Además de pedir los turnos personalmente en Jujuy 477 o por teléfono al 0810-333-0643, podés hacerlo rápido y simple desde tu celular bajándote la aplicación de AMOEMRA desde el <a href="https://play.google.com/store/apps/details?id=com.webexport.amoemra" target="blank">Play Store</a> de Google.',
          index: 0
        },
        {
          icon: 'icon-workout',
          title: 'Clases de Yoga',
          text: 'Ejercicios de respiración y relajación para mejorar tu salud, sin cargo.',
          modalText: 'Clases de Hatha Yoga los martes a las 9.30hs y de Respiración consciente y meditación los martes a las 11hs y los miércoles a las 17hs.<br><br>Las clases son en la sede de Amoemra, Jujuy 477, con la Profesora Agustina Montiel.',
          index: 1
        },
        {
          icon: 'icon-skin',
          title: 'Dermatología',
          text: 'Prestaciones en estética general y criocirugías.',
          modalText: 'Estética:<br>- Incorporamos la utilización de plasma rico en plaquetas, un material biológico obtenido de la misma sangre del paciente que contiene factores con el potencial de estimular la respuesta reparadora en tejidos dañados. Este procedimiento tiene hoy amplia difusión en las terapias regenerativas y su aplicación se hace en forma ambulatoria, en sesiones que no superan los 30 minutos.<br><br>Criocirugía:<br>- La incorporación de criocirugía para el tratamiento de lesiones superficiales de piel nos permite ofrecer una alternativa valiosa frente a procedimientos más clásicos. Este tratamiento aplica frío sobre la lesión de manera controlada y localizada, sin  afectar la piel sana de alrededor, utilizando nitrógeno líquido a bajísima temperatura (casi 200 grados bajo cero). Es un procedimiento muy rápido que puede hacerse en la propia consulta y no requiere anestesia local.',
          index: 2
        },
        {
          icon: 'icon-cross',
          title: 'Neumonología',
          text: 'Hospital de día para el paciente respiratorio crónico.',
          modalText: 'Hospital de día para el paciente respiratorio crónico: es una estructura asistencial a través de la cual el paciente recibe las técnicas terapéuticas y diagnósticas que requiera sin abandonar su entorno familiar, mediante una internación parcial programada de hasta 12 horas, complementando las ventajas del tratamiento ambulatorio con muchos de los recursos terapéuticos de una internación total. A través de sus dos modalidades de atención, el Hospital de Día Diagnóstico y el Hospital de Día Clínico, se dirige fundamentalmente a:<br>- Pacientes que luego de un alta de internación requieren completar un tratamiento supervisado.<br>- Pacientes internados en una institución donde no se realizan estudios o terapias específicas y son derivados al Hospital de Día, para luego retornar al lugar de internación.<br>- Pacientes en atención ambulatoria por consultorio que requieren estudios diagnósticos o tratamientos bajo supervisión médica.',
          index: 3
        },
        {
          icon: 'icon-kid',
          title: 'Psicopedagogía',
          text: 'Evaluación y tratamiento psicopedagógico destinado a niños y adolescentes de 4 a 16 años.',
          modalText: 'Psicopedagogía: hemos incorporado las prestaciones de evaluación y tratamiento psicopedagógico destinado a niños y adolescentes de 4 a 16 años que presentan problemas de aprendizaje y desempeño escolar.<br><br>Psicología: brindamos tratamiento psicoterapéutico dirigido a adolescentes, jóvenes y adultos (mayores de 18 años).<br><br>Sesiones una vez por semana, hasta dos años de tratamiento. <br><br>Psicodiagnóstico. ',
          index: 4
        },
        {
          icon: 'icon-food',
          title: 'Viandas saludables',
          text: 'Te ayudamos a cuidar tu alimentación y la de tu familia.',
          modalText: 'En coordinación con nuestro departamento de nutrición, hemos habilitado un servicio de viandas complementarias, a precio diferencial para socios de Amoemra.<br><br>Visitá el sitio de <a href="http://www.lightcooking.com.ar" target="_blank"/>Light Cooking</a>, creá tu usuario y comenzá a pedir tus viandas.<br>Recordá elegir <strong>Amoemra</strong> como sucursal.',
          index: 5
        }
      ]
    }
  },
  methods: {
    showModal (index) {
      console.log(index)
      this.modalShow = this.extras[index]
      this.$refs.modalExtras.show()
    },
    hideModal () {
      this.$refs.modalExtras.hide()
    }
  }
}
</script>

<style lang="scss" scoped src="./Extras.scss"></style>
