    <b-navbar class="site-header" id="navbar" :class="{ shrink:Scrolling }" sticky>
        <b-container>
            <b-navbar-brand>
                <img class="logo" src="../../assets/logo.png" alt="Amoemra">
            </b-navbar-brand>
            <b-navbar-nav>
                <div class="icons">
                    <a href="https://www.facebook.com/Amoemra.Mutual/" target="_blank"><i class="icon-facebook"></i></a>
                    <a href="https://play.google.com/store/apps/details?id=com.webexport.amoemra" target="_blank"><i class="icon-google-play"></i></a>
                </div>
            </b-navbar-nav>
        </b-container>
    </b-navbar>
