@import '../../sass/_global.scss';

.site-header {
    background: linear-gradient(to right, $blue, #2B89D5, #AACAE6);
    height: 65px;
    transition: all .6s ease;
    top: 0;
    // position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 -2px 20px;
    transition: height .7s ease;

    .logo {
        width: 150px;
        transition: all .6s ease;
    }

    .icons {
        display: flex;
        align-content: center;
        transition: all .6s ease;

        a {
            &:hover {
                text-decoration: none;
            }
        }

        i{
            font-size: 1.5rem;
            padding-left: .8rem;

            &::before {
                transition: all .3s ease;
            }

            &:hover::before {
                color: $orange;
            }
        }
    }
}

@media (min-width: $sm) {
    nav.navbar.shrink {
        height: 55px;
        transition: all .7s ease;

        .logo {
            width: 110px;
        }
    }
}

@media (min-width: $md) {
    .site-header {
        height: 100px;
        transition: height .6s ease;

        .logo {
            width: 250px;
        }
    }

    nav.navbar.shrink {
        height: 65px;
        transition: all .7s ease;

        .logo {
            width: 170px;
        }
    }
}
