<template src="./Header.html"></template>

<script>
export default {
  name: 'header-app',
  data () {
    return {
      Scrolling: false
    }
  },
  methods: {
    resizeOnScroll: function () {
      this.Scrolling = (window.scrollY >= 20)
    }
  },
  created () {
    window.addEventListener('scroll', this.resizeOnScroll)
  },
  destroyed () {
    window.addEventListener('scroll', this.resizeOnScroll)
  },
  metaInfo: {
    title: 'Amoemra',
    meta: [
      {name: 'description', content: 'Asociacion Mutual Obreros Y Empleados Municipales de la Republica Argentina.'},
      {property: 'og:title', content: 'Amoemra'},
      {property: 'og:site_name', content: 'Amoemra'},
      {property: 'og:type', content: 'website'},
      {property: 'og:url', content: 'https://www.amoemra.com.ar'},
      // {property: 'og:image', content: 'https://www.my-site.com/my-special-image.jpg'},
      {property: 'og:description', content: 'Asociacion Mutual Obreros Y Empleados Municipales de la Republica Argentina.'},
      {name: 'twitter:card', content: 'summary'},
      {name: 'twitter:site', content: 'https://www.amoemra.com.ar'},
      {name: 'twitter:title', content: 'Amoemra'},
      {name: 'twitter:description', content: 'Asociacion Mutual Obreros Y Empleados Municipales de la Republica Argentina.'}
      // {name: 'twitter:image:src', content: 'https://www.my-site.com/my-special-image.jpg'}
    ]
  }
}
</script>

<style lang="scss" scoped src="./Header.scss"></style>
