 <b-carousel id="carousel"
            style="text-shadow: 1px 1px 2px #333;"
            controls
            indicators
            background="#fff"
            :interval="4000"
            v-model="slide"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
>

    <b-carousel-slide v-for="rotator in rotators" :data="rotator" :key="rotator.image">
            <img slot="img" class="img-fluid w-100 desktop"
            :src="rotator.image" :alt="rotator.text">
            <img slot="img" class="img-fluid w-100 mobile"
            :src="rotator.imageMobile" :alt="rotator.text">
            <h3>¿Sos Municipal?</h3>
            <h2 :data="rotator" :key="rotator.text">{{rotator.text}}</h2>
    </b-carousel-slide>
</b-carousel>
