<template src="./Carousel.html"></template>

<script>
export default {
  data () {
    return {
      slide: 0,
      sliding: null,
      rotators: [
        {
          image: require('../../assets/Slider_01.jpg'),
          imageMobile: require('../../assets/Slider_mobile_01.jpg'),
          text: 'Tenés dos prótesis dentales por año'
        },
        {
          image: require('../../assets/Slider_02.jpg'),
          imageMobile: require('../../assets/Slider_mobile_02.jpg'),
          text: 'Tenés un centro médico integral propio'
        },
        {
          image: require('../../assets/Slider_03.jpg'),
          imageMobile: require('../../assets/Slider_mobile_03.jpg'),
          text: 'Sacás turnos desde tu teléfono'
        }
      ]
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>

<style lang="scss" src="./Carousel.scss"></style>
