@import '../../sass/_global.scss';

#carousel {
    // margin-top: 65px;
    position: relative;

    h2,
    h3 {
        text-align: right;
        text-transform: uppercase;
    }

    h2 {
        font-family: $MontserratEB;
        font-size: 5.5vw;
        color: $blue;
        line-height: 1.05;
    }
    h3 {
        font-family: $QuicksandB;
        font-size: 3.2vw;
        display: inline-block;
        padding: .1rem 0;
        margin-bottom: .5rem;
        color: $orange;
        border-bottom: 2px solid $orange;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .carousel-caption {
        top: 2vw;
        right: 12vw;
        text-shadow: none;
        text-align: right;
        padding-left: 28%;
    }

    .carousel-indicators {
        li {
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background-color: $white;

            &.active {
                background-color: $indicator-color;
            }
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-image: none;
        transition: all .3s ease;

        &::after {
            content: '';
            border: solid $light-blue-border;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 10px;
            opacity: 1;
        }
    }
    .carousel-control-prev-icon::after {
        transform: rotate(135deg);
    }
    .carousel-control-next-icon::after {
        transform: rotate(-45deg);
    }

    @media (min-width: $md) {
        .carousel-caption {
            top: 30px;
        }

        .carousel-indicators {
            li {
                width: 9px;
                height: 9px;
            }
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            &::after {
                padding: 14px;
            }
        }

    }

    @media(min-width: $lg) {

        img {
            &.mobile {
                display: none;
            }
            &.desktop {
                display: block;
            }
        }

        h2 {
            font-size: 4vw;
        }
    
        h3 {
            font-size: 1.8vw;
            padding: .5rem 0;
            margin-bottom: .8rem;
            border-bottom: 3px solid $orange;
        }
        .carousel-caption {
            padding-left: 35%;
            width: 65%;
            text-align: right;
        }
    }

    @media(min-width: $xxl) {
        h2 {
            font-size: 4.06rem;
        }
    
        h3 {
            font-size: 1.75rem;
        }
        .carousel-caption {
            padding-left: 35%;
            width: 60%;
        }
    }
}
