@import '../../sass/_global.scss';

#footer {
    background-color: $footer-background;
    padding: 3vw;
    font-family: $QuicksandM;
    font-size: 3vw;
    color: $blue;

    img {
        width: 40vw;
    }

    ul {
        list-style: none;
        padding-left: 0;
        padding-top: 1rem;
        margin-bottom: 0;

        li {
            display: inline-block;
            padding-right: 1rem;
            padding-bottom: .3rem;

            a {
                text-decoration: none;
                color: $blue;
            }

            i {
                font-size: 4.3vw;
                padding-right: .4rem;
            }
        }
    }

    @media (min-width: $md) {
        padding: 2.25rem;
        font-size: .9rem;

        img {
            width: 301px;
        }

        ul {
            padding-top: 1.6rem;

            li {
                display: inline-block;
                padding-right: 0rem;

                i {
                    font-size: 1.25rem;
                    padding-right: .3rem;
                }
            }
        }
    }

    @media (min-width: $lg) {
        ul {

            li {
                padding-right: .5rem;
            }
        }
    }
}
