<footer id="footer">
    <b-container>
        <img src="../../assets/logo_blue.png" alt="Amoemra">
        <ul>
            <li><i class="icon-location"></i>Av. Jujuy 477, C1083AAE CABA</li>
            <li><i class="icon-mail"></i><a href="mailto:infomutual@amoemra.com.ar">infomutual@amoemra.com.ar</a></li>
            <li><i class="icon-phone"></i><a href="tel:+0810-333-0643"></a>0810-333-0643 <a href="tel:+0810-222-6681"></a>0810-222-6681</li>
        </ul>
    </b-container>
</footer>
