<template src="./Map.html"></template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps'

import Vue from 'vue'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyCUAeyQBQMIFAh63qNIDwH2DaDjRAeLLQI',
    v: '3.31'
  }
})

export default {
  name: 'map-section',
  data () {
    return {
      center: { lat: -34.616750, lng: -58.404258 },
      markers: [
        {
          position: { lat: -34.615214, lng: -58.404837 }
        }
      ],
      styles: [
        {
          'featureType': 'administrative.land_parcel',
          'elementType': 'labels',
          'stylers': [
            {
              'visibility': 'off'
            }
          ]
        },
        {
          'featureType': 'poi',
          'elementType': 'labels.text',
          'stylers': [
            {
              'visibility': 'off'
            }
          ]
        },
        {
          'featureType': 'road.local',
          'elementType': 'labels',
          'stylers': [
            {
              'visibility': 'off'
            }
          ]
        }
      ],
      transports: [
        {
          icon: 'icon-subway',
          type: 'Subte:',
          description: 'Línea H (Estación Venezuela).'
        },
        {
          icon: 'icon-bus',
          type: 'Colectivos:',
          description: '2, 8, 56, 57, 61, 84, 86, 96, 98, 101, 103, 115, 118, 168, 188'
        },
        {
          icon: 'icon-train',
          type: 'Tren',
          description: 'Ferrocarril Sarmiento (Estación Plaza Miserere)'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped src="./Map.scss"></style>
