@import '../../sass/_global.scss';

#map {
    background-color: $blue;
    margin-top: 0;
    padding-bottom: 0;
    
    .container {
        position: relative;
        z-index: 4;

    }

    h4 {
        border-bottom: none;
        background-color: $blue;

        span {
            padding: 1rem 2rem;
            border: 4px solid $blue;
        }
    }

    .map {
        z-index: 1;
        height: 450px;
    }

    .directions {
        background-color: $white;
        padding: 7vw 7vw 1vw;
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;

        address {
            color: $light-grey;
            font-family: $MontserratR;
            font-size: 4vw;
            margin-bottom: 4vw;
        }

        ul {
            font-family: $MontserratL;
            color: $light-grey;
            list-style: none;
            padding-left: 0;
            font-size: 3vw;

            li {
                padding-bottom: .2rem;

                i {
                    padding-right: 4vw;
                    font-size: 5vw;
                }
            }
        }
    }

    @media(min-width: $sm) {
        .directions {
            padding: 4vw 7vw 1vw;
    
            address {
                font-size: 3vw;
                margin-bottom: 4vw;
            }
    
            ul {
                font-size: 2.5vw;
    
                li {
                    padding-bottom: .5rem;
    
                    i {
                        padding-right: 2vw;
                        font-size: 4vw;
                    }
                }
            }
        }
    }

    @media (min-width: $md) {

        h4 {
            span {
                padding: 1.25rem 5.6rem;
            }
        }

        .map {
            height: 650px;
        }

        .directions {
            padding: 2rem 5rem 1rem 5rem;

            address {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }

            ul {
                font-size: 1.12rem;

                li {
                    padding-bottom: .5rem;

                    i {
                        padding-right: 1.12rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    @media (min-width: $lg) {
        .directions {
            padding: 2.5rem 10rem 1.5rem 10rem;
        }
    }
}
