<div id="map">
    <b-container>
        <h4>
            <span>Dónde estamos</span>
        </h4>
    </b-container>

    <gmap-map
                :center="center"
                :zoom="16"
                map-type-id="roadmap"
                :options="{styles: styles}"
                class="map"
                >
        <gmap-marker
                    :key="1"
                    v-for="marker in markers"
                    :position="marker.position"
                    :clickable="true"
                    :draggable="true"
                    @click="center=marker.position"
                    ></gmap-marker>
    </gmap-map>
    <b-container>
        <div class="directions">
            <address>Av. Jujuy 477, CABA</address>
            <ul>
                <li v-for="transport in transports" :data="transport" :key="transport.type"><i :class="transport.icon"></i><strong>{{transport.type}}</strong> {{transport.description}}</li>
            </ul>
        </div>
    </b-container>
</div>
