@import '../../sass/_global.scss';

#benefits {
    padding-top: 5.5vw;
    // background-color: $light-background;
    width: 100%;

    h4 {
        font-size: 5.5vw;
    }

    .cards {
        margin-top: 6vw;

        .card {
            max-width: 100%;
            flex-direction: row;
            margin-bottom: 9px;
            transition: all .3s ease;
            border: none;

            img {
                width: 45%;
                height: 45%;
            }

            .card-content {
                background-color: $light-blue;
                position: relative;
                padding: 3vw;
                width: 100%;

                h5 {
                    font-family: $MontserratSB;
                    text-transform: uppercase;
                    color: $blue;
                    font-size: 4.5vw;
                }

                p {
                    font-family: $QuicksandR;
                    color: $grey;
                    font-size: 3vw;
                }

                a {
                    text-decoration: none;
                    color: $blue;
                    font-family: $QuicksandR;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    right: 3vw;
                    bottom: 3vw;
                    font-size: 3vw;

                    i {
                        padding-left: 6px;
                    }
                }
            }
        }
    }

    .modal-content {
        /*Styles are on global.scss*/
    }

    @media (min-width: $sm) {
        .cards {
            .card {
                .card-content {
                    h5 {
                        font-size: 3.8vw;
                    }
                    p {
                        font-size: 2.2vw;
                    }
                    a {
                        font-size: 2vw;
                    }
                }
            }
        }
    }

    @media (min-width: $md){
        padding-top: 2rem;

        h4 {
            font-size: 3.06rem;
        }
        .cards {
            margin-top: 3.8rem;
            .card {
                cursor: pointer;
                .card-content {
                    padding: 1rem;

                    a {
                        transition: all .3s ease;

                        i::before {
                            transition: all .3s ease;
                        }
                        &:hover {
                            color: $orange;

                            > i {
                                &::before {
                                    color: $orange;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    box-shadow: 0px 0px 10px $grey;
                }
            }
        }
    }

    @media (min-width: $lg) {
        .cards {
            .card {
                margin-bottom: 20px;
                max-width: calc((100% /2) - 9px);

                &:nth-child(odd){
                    float: left;
                    margin-right: 9px;
                }
                img {
                    width: 200px;
                    height: 153px;
                }

                .card-content {
                    width: auto;

                    h5 {
                        font-size: 1.4rem;
                    }
                    p {
                        font-size: .8rem;
                    }
                    a {
                        font-size: 1rem;
                        right: 1rem;
                        bottom: 1rem;
                    }
                }
            }
        }
    }

    @media (min-width: $xl) {
        .cards {
            .card {
                img {
                    width: 235px;
                    height: 183px;
                }
                .card-content {
                    h5 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
