<div id="benefits">
    <b-container>
        <h4><span>+ Beneficios</span></h4>
        <div class="cards">
            <div class="card" v-for="card in cards" @click="showModal(card.index)">
                <img :src="card.image" :alt="card.benefit">
                <div class="card-content">
                    <h5>{{card.benefit}}</h5>
                    <p>{{card.text}}</p>
                    <a href="javascript:void(0)" @click="showModal(card.index)">ver más <i class="icon-plus"></i></a>
                </div>
            </div>
        </div>
    </b-container>
    <b-modal ref="modal" :title="this.modalShow.benefit" size="lg" centered hide-footer>
        <div class="d-block text-center">
            <p v-html="this.modalShow.modalText"></p>
            <p><strong>Consultanos personalmente en recepción, Jujuy 477, o por teléfono al 0810-333-0643.</strong></p>
        </div>
    </b-modal>
</div>
