<template src="./Benefits.html"></template>

<script>
export default {
  name: 'benefits',
  data () {
    return {
      modalShow: false,
      cards: [
        {
          image: require('../../assets/Beneficios_01.jpg'),
          benefit: 'Prótesis',
          text: 'Podés solicitar hasta dos prótesis dentales por año.',
          modalText: 'Implantes, el primero sin cargo y el segundo implante con 50% de descuento (Gastos de Cirugía no incluídos).<br><br>Guardia Odontológica las 24 horas (SIACO) Paraguay 1350 CABA.',
          index: 0
        },
        {
          image: require('../../assets/Beneficios_02.jpg'),
          benefit: 'Lentes',
          text: 'Contás con un par por año, sin límite de edad.',
          modalText: 'Beneficios en Óptica Uriburu: <br>- Un armazón sin cargo y un par de cristales orgánico blanco de stock/laboratorio por año.<br>- Lentes de contacto con descuento de 20% sobre el valor de lista.<br>-Anteojos de sol 20% de descuento (no acumulable con otras promociones).<br>-Descuentos en antiparras de natación con graduación presentando receta médica.<br>-Anteojos de baja visión o visión subnormal. <br><br>Consultar por audífonos.',
          index: 1
        },
        {
          image: require('../../assets/Beneficios_03.jpg'),
          benefit: 'Nutrición',
          text: 'Tratamiento de la obesidad, sobrepeso y trastornos alimenticios.',
          modalText: 'En nuestro Centro Médico Jujuy brindamos, entre otras prestaciones, Nutrición para pacientes con alteraciones en la alimentación, sobrepeso, alimentación para el deporte, y más. <br><br>También periódicamente organizamos charlas para evacuar todas las dudas respecto a una correcta alimentación.',
          index: 2
        },
        {
          image: require('../../assets/Beneficios_04.jpg'),
          benefit: 'Salud Mental',
          text: 'Hasta dos años de sesiones psicoterapéuticas para adolescentes, jóvenes y adultos.',
          modalText: 'Ahora los socios de Amoemra cuentan con hasta 40 sesiones anuales de Psicopedagogía por solo $250 por sesión.<br>Si no sos socio pero sos Municipal, también te atendemos con arancel diferencial, $350 por sesión.<br><br> Es para chicos y adolescentes de 5 a 14 años con problemas de aprendizaje y desempeño escolar.<br>Las 40 sesiones pueden ampliarse a 40 sesiones más según criterio del profesional.<br><br>Un paso previo indispensable es solicitar un turno para una entrevista de admisión contando con una derivación del médico o de la institución escolar.',
          index: 3
        },
        {
          image: require('../../assets/Beneficios_05.jpg'),
          benefit: 'Odontología',
          text: 'Arreglos, extracciones y tratamiento de Conducto sin cargo.',
          modalText: '- Tratamiento de Conducto sin cargo. <br>- Ortodoncia <br>- Odontopediatría<br>- Un bracket metálico<br>- Prótesis Completa - Superior e inferior de Acrílico<br>- Arreglos en general / extracciones<br>- Primera RX Panorámica<br><br>Implantes: el primero sin cargo y el segundo implante con 50% de descuento (Gastos de Cirugía no incluídos)<br><br>Guardia Odontólogica las 24 horas (SIACO) Paraguay 1350 CABA.',
          index: 4
        },
        {
          image: require('../../assets/Beneficios_06.jpg'),
          benefit: 'Cardiología',
          text: 'Diagnóstico y tratamiento de las enfermedades del corazón y del aparato circulatorio.',
          modalText: 'AMOEMRA ha incorporado dos equipos de alta tecnología para el diagnóstico y seguimiento de pacientes con riesgo cardiovascular y desórdenes metabólicos: dos equipos Alere Cholestech  LDX y un equipo Alere Afinion AS100 Analyzer. Estos equipos aportan, con una simple muestra de sangre capilar que se toma en el momento con una míninma punción en la yema de un dedo, datos confiables y rápidos para la decisión clínica por parte del médico tratante.<br>- Con el Alere Cholestech LDX, se obtienen los valores de glucemia, colesterol Total, LDL y HDL, LDL/HDL, Triglicéridos y el % de riesgo de desarrollar enfermedad cardiovascular en los próximos 10 años.<br>- Con el Alere Afinion AS100 Analyzer obtenemos el valor de la hemoglobina glicosilada, que expresa el promedio de las glucemias del paciente durante los últimos dos o tres meses y resulta una herramienta indispensable para el adecuado control metabólico de los pacientes diabéticos.',
          index: 5
        }
      ]
    }
  },
  methods: {
    showModal (index) {
      console.log(index)
      this.modalShow = this.cards[index]
      this.$refs.modal.show()
    },
    hideModal () {
      this.$refs.modal.hide()
    }
  }
}
</script>

<style lang="scss" scoped src="./Benefits.scss"></style>
